html {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     font-synthesis: none;
}
 @font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Bold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Book.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-BoldItalic.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-HeavyItalic.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-ExtraboldItalic.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Heavy.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-BookItalic.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Extrabold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-SemiboldItalic.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Semibold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-MediumItalic.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Galaxie Copernicus';
    src: url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Medium.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/GalaxieCopernicus/GalaxieCopernicus-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedBold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedExtrabold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedExtrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedBlack.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedBlack.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedSemibold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedLight.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedRegular.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedBold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedExtralight.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CompressedExtralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedLight.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowExtrabold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowExtrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedSemibold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowExtralight.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowExtralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowBold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedRegular.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedExtrabold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedExtrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedExtralight.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-CondensedExtralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowBlack.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LektoratText';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-Oblique.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowRegular.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowSemibold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LektoratText';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-BoldOblique.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LektoratText';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-Bold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowLight.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Lektorat-NarrowLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LektoratText';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-Regular.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LektoratText';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-SemiboldOblique.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-SemiboldOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Text var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Variable/LektoratTextvar-Regular.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Variable/LektoratTextvar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LektoratText';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-Semibold.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/LektoratText-Semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Text var Oblique';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Variable/LektoratTextvar-Oblique.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Variable/LektoratTextvar-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lektorat Display light var';
    src: url('https://lojaintegradar.deco.site/fonts/Lektorat/Variable/LektoratDisplayvar-CompressedExtralight.woff2') format('woff2'),
        url('https://lojaintegradar.deco.site/fonts/Lektorat/Variable/LektoratDisplayvar-CompressedExtralight.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
